.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

#header_settings {
  background-color: #3f51b5;
  color: ghostwhite;
}
