


<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1 class="display-4">StarWars Films</h1>
        <p class="lead">A Jedi uses the Force for knowledge and defense, never for attack</p>
        <hr class="my-4">

        <table class="table">
          <thead class="thead-inverse">
          <tr>
            <th>Titulo</th>
            <th>Personagens</th>
            <th>Data de Estreia</th>
          </tr>
          </thead>
          <tbody class="table__body" >
          <tr *ngFor="let film of films; let i = index; trackBy:trackByEpisodId;" >
            <td>{{ film.title | filmTitle }}</td>
            <td>{{ film.episode_id }}</td>
            <td>{{ film.release_date }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>




