<div>
  <main role="main" class="site__main main">
    <nav class="main__nav nav">

    </nav>
    <article class="main__content content">
      <div class="content__wrapper">

        <HeaderBlock></HeaderBlock>
        <app-sidenav></app-sidenav>
      </div>
    </article>
  </main>

</div>
