<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
<div class="jumbotron">
  <h1 class="display-4">StarWars Personagens</h1>
  <p class="lead">Luminous beings are we. Not this crude matter</p>
  <hr class="my-4">

  <table class="table">
    <thead class="thead-inverse">
    <tr>
      <th>Nome</th>
      <th>Altura</th>
      <th>Sexo</th>
      <th>Ano de Nascimento</th>
      <th>Planeta Natal</th>
    </tr>
    </thead>
    <tbody class="table__body">
    <tr *ngFor="let person of people; let i = index; trackBy:trackByName;">
      <td>{{ person.name }}</td>
      <td>{{ person.height }}</td>
      <td>{{ person.gender }}</td>
      <td>{{ person.birth_year }}</td>
      <td>{{ person.homeworld }}</td>
    </tr>
    </tbody>
  </table>
</div>
</div>
</div>
</div>



