.example-container {
  width: 100%;
  height: 800px;
  border: 1px solid rgba(111, 111, 111, 0.50);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
.demo-panel {
  margin: 10px;
}

#list_settings{
  font-size: 1.2rem;
}

#header_settings {
  background-color: #3f51b5;
  color: ghostwhite;
}
