<mat-drawer-container class="example-container" autosize>

  <mat-drawer #drawer class="example-sidenav" mode="side" id="list_settings">
    <mat-toolbar id="header_settings" >
      <img mat-card-avatar src="http://monodomo.com/free-wallpapers/star-wars-sith-wallpaper-high-quality-For-Free-Wallpaper.jpg" alt="Photo of a darth" style="">
    </mat-toolbar>

    <mat-card routerLink="/people" >
      PERSONAGENS.
    </mat-card>
    <mat-card routerLink="/film" >
      FILMES.
    </mat-card>





    <!--<p>Auto-resizing sidenav</p>-->
    <!--<p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>-->
    <!--<button (click)="showFiller = !showFiller" mat-raised-button>-->
      <!--Toggle extra text-->
    <!--</button>-->



  </mat-drawer>


  <div class=" content-page ">
    <button mat-raised-button color="primary" style=" left: 1%; margin: 1%;"
            mat-button (click)="drawer.toggle()">
      Menu
    </button>
    <router-outlet></router-outlet>

  </div>

</mat-drawer-container>
